body {
  margin: 0;
  text-align:center;
    line-height: 2;
    color: #40514E;
}


h1 {
  font-family: 'Lacquer', sans-serif;
  font-size: 5.6rem;
  margin: 50px auto 0 auto;
  color: #66BFBF;
}

h2 {
  font-family: 'Saira Stencil One', cursive;
  font-size: 2.8rem;
  color: #66BFBF;
  font-weight: normal;
  padding: 10px
}

h3 {
  font-family: 'Saira Stencil One', cursive;
  color: #11999E;
}

p {
  font-family: 'Roboto', sans-serif;
}


a {
  color: #11999E;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: white;
}


hr {
  border: dotted #EAF6F6 6px;
border-bottom: none;
width: 10%;
margin: 100px auto;

}

.contact {
  width: 40%;
  margin: 20px auto 30px auto;
}

.copy {
  color: white;
  font-size: 0.8rem;
  padding: 20px 0;
}

.c2 {
  position: absolute;


}

.c1 {
  position: absolute;
  right:400px;
  top: 150px;
}

.container {
  position: relative;
  padding-top: 100px;
  background-color:#EAF6F6
;

}

.middle-container
{
  padding: 100px 0;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
}

.me {
  width: 15%;
}
.intro {

  width: 20%;
  margin: 0 auto;
}
.g-image {
  width: 25%;
  float: left;
  margin-right: 30px;
}
.w-image {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999db);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999db);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999db);
  background-image: -o-linear-gradient(top, #11cdd4, #11999db);
  background-image: linear-gradient(to bottom, #11cdd4, #11999db);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Saira Stencil One', cursive;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
